/****
*** FOUNDATION STYLING
****/
html,
body,
#__next {
  height: 100%;
  width: 100%;
}
main > div {
  height: 100%;
}
/****
*** GLOBAL STYLING
****/
/* font */
.fnt-monospace {
  font-family: monospace !important;
  font-weight: 400;
}
/* background */
.bg-grey {
  background-color: #eee !important;
}
/* hover */
.hover-blackflame:hover {
  color: #fff;
  background: #474c59 !important;
}
/* cursor */
.cursor-point {
  cursor: pointer !important;
}
